<launch>
	<arg name="live"            description="Whether to instantiate a live system (true) or a bag-based one (false)" />

	<remap from="sensors/speed" to="/sensors/speed" />
	<remap from="sensors/steering" to="/sensors/steering" />
	<remap from="sensors/voltage" to="/sensors/arduino/voltage" />
	<remap from="actuators/speed" to="/actuators/speed" />
	<remap from="actuators/steering" to="/actuators/steering" />

    <remap from="visualization/speed" to="speed" />
    <remap from="visualization/steering_angle" to="steering_angle" />
    <remap from="visualization/voltage" to="voltage" />
    <remap from="visualization/wanted_speed" to="wanted_speed" />
    <remap from="visualization/wanted_steering" to="wanted_steering" />

	<include file="$(find-pkg-share visualization_converter)/launch/VisualizationConverter.launch">
	</include>
</launch>