<launch>
    <node respawn="true" respawn_delay="1" pkg="topic_tools" type="transform" name="$(anon visualization_speed)" args="/sensors/speed /visualization/speed autominy_msgs/Plot 'autominy_msgs.msg.Plot(header=m.header, value=m.value)' --import autominy_msgs" />
    <node respawn="true" respawn_delay="1" pkg="topic_tools" type="transform" name="$(anon visualization_steering)" args="/sensors/steering /visualization/steering autominy_msgs/Plot 'autominy_msgs.msg.Plot(header=m.header, value=m.value)' --import autominy_msgs" />

    <node respawn="true" respawn_delay="1" pkg="topic_tools" type="transform" name="$(anon visualization_wanted_speed)" args="/actuators/speed_normalized /visualization/visualization_wanted_speed autominy_msgs/Plot 'autominy_msgs.msg.Plot(header=m.header, value=m.value)' --import autominy_msgs" />
    <node respawn="true" respawn_delay="1" pkg="topic_tools" type="transform" name="$(anon visualization_wanted_steering)" args="/actuators/steering_normalized /visualization/visualization_wanted_steering autominy_msgs/Plot 'autominy_msgs.msg.Plot(header=m.header, value=m.value)' --import autominy_msgs" />

    <node respawn="true" respawn_delay="1" pkg="topic_tools" type="transform" name="$(anon visualization_voltage)" args="/sensors/arduino/voltage /visualization/voltage autominy_msgs/Plot 'autominy_msgs.msg.Plot(header=m.header, value=m.value)' --import autominy_msgs" />
</launch>