<launch>
    <arg name="use_nodelets"    default="$(optenv USE_NODELETS false)" />
    <arg name="nodelet_manager" default="$(optenv CORE_NODELET_MANAGER core_nodelet_manager)" />
    <arg name="live"        doc="Whether to connect to hardware (true) or just run the parsing nodes (false)" />

    <include file="$(find autominy)/launch/visualization/JSK.launch">
        <arg name="live"    		value="$(arg live)" />
        <arg name="use_nodelets"    value="$(arg use_nodelets)" />
        <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
    </include>

    <include file="$(find autominy)/launch/visualization/Map.launch" />
</launch>