<launch>
	<arg name="live"            description="Whether to instantiate a live system (true) or a bag-based one (false)" />
	<arg name="agent_prefix"    default="" />

    <node respawn="true" respawn_delay="1"
          pkg="emergency_stop"
          name="emergency_stop"
          exec="emergency_stop_node"
          output="screen"
    >
    	<remap from="speed" to="$(var agent_prefix)/actuators/speed_pwm" />
    	<remap from="carstate/speed" to="$(var agent_prefix)/sensors/speed" />
    	<remap from="scan" to="$(var agent_prefix)/sensors/rplidar/scan" />
    </node>
</launch>
