<launch>
	<arg name="baudrate" default="$(env ROS_ARDUINO_BAUDRATE 115200)" />

	<!-- Arduino communication -->
	<node pkg="arduino_communication" exec="arduino_communication_node" name="arduino" output="screen">
		<param name="baud" value="$(var baudrate)" />
		<param name="device" value="/dev/ttyArduino" />

        <remap from="/sensors/arduino/imu" to="/sensors/imu" />
        <remap from="speed" to="/actuators/speed_pwm" />
        <remap from="steering" to="/actuators/steering_pwm" />
        <remap from="led" to="/actuators/led" />
	</node>

</launch>
