<launch>
	<arg name="use_nodelets"    default="$(optenv USE_NODELETS false)" />
	<arg name="nodelet_manager" default="$(optenv CORE_NODELET_MANAGER core_nodelet_manager)" />
	<arg name="baudrate" default="$(optenv ROS_ARDUINO_BAUDRATE 115200)" />

	<!-- Arduino communication -->
	<remap from="/sensors/arduino/imu" to="/sensors/imu" />
	<remap from="~speed" to="/actuators/speed_pwm" />
	<remap from="~steering" to="/actuators/steering_pwm" />
	<remap from="~led" to="/actuators/led" />
	<include file="$(find arduino_communication)/launch/ArduinoCommunication.launch">
		<arg name="baud" value="$(arg baudrate)" />
	</include>
</launch>
