<launch>
    <arg name="live"        doc="Whether to connect to hardware (true) or just run the parsing nodes (false)" />
    <arg name="use_nodelets"    default="$(optenv USE_NODELETS true)" />
    <arg name="nodelet_manager" default="$(optenv CORE_NODELET_MANAGER core_nodelet_manager)" />

    <group if="$(arg live)">
        <group if="$(arg use_nodelets)">
            <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
                <arg name="manager" value="core_nodelet_manager" />
                <arg name="align_depth" value="false" />
                <arg name="depth_registered_processing" value="false"/>
                <arg name="enable_color" value="true"/>
                <arg name="enable_infra1" value="true"/>
                <arg name="enable_infra2" value="false"/>
                <arg name="depth_fps" value="15"/>
                <arg name="infra_fps" value="15"/>
                <arg name="color_fps" value="15"/>
            </include>
        </group>

        <group unless="$(arg use_nodelets)">
            <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
                <arg name="align_depth" value="false" />
                <arg name="external_manager" value="true" />
                <arg name="manager" value="$(arg nodelet_manager)" />
                <arg name="depth_registered_processing" value="false"/>
                <arg name="enable_color" value="true"/>
                <arg name="enable_infra1" value="true"/>
                <arg name="enable_infra2" value="false"/>
                <arg name="depth_fps" value="15"/>
                <arg name="infra_fps" value="15"/>
                <arg name="color_fps" value="15"/>
            </include>
        </group>

        <node name="dynamic_reconfigure_load_old" pkg="dynamic_reconfigure" type="dynparam" args="set /sensors/camera/realsense2_camera_manager rs435_depth_emitter_enabled Off" />
        <node name="dynamic_reconfigure_load_new" pkg="dynamic_reconfigure" type="dynparam" args="set /sensors/camera/stereo_module emitter_enabled Off" />
    </group>

    <group ns="camera">
    <!-- Stereo camera estimation -->
        <remap from="/sensors/camera/stereo_camera_pose_estimation/camera/color/image_rect_color" to="/sensors/camera/color/image_rect_color" />
        <remap from="/sensors/camera/stereo_camera_pose_estimation/camera/depth/image_rect_raw" to="/sensors/camera/depth/image_rect_raw"/>
        <remap from="/sensors/camera/stereo_camera_pose_estimation/camera/color/camera_info" to="/sensors/camera/color/camera_info"/>
        <remap from="/sensors/camera/stereo_camera_pose_estimation/camera/depth/camera_info" to="/sensors/camera/depth/camera_info"/>
        <include file="$(find stereo_camera_pose_estimation)/launch/StereoCameraPoseEstimation.launch">
            <arg name="use_nodelets"    value="$(arg use_nodelets)" />
            <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
        </include>

        <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="set /sensors/camera/stereo_camera_pose_estimation aruco_id $(optenv ROS_CALIBRATION_MARKER_ID 0)" />
    </group>
</launch>

