<launch>
    <arg name="live"            doc="Whether to instantiate a live system (true) or a bag-based one (false)" />
    <arg name="use_nodelets"    default="$(optenv USE_NODELETS false)" />
    <arg name="nodelet_manager" default="$(optenv CORE_NODELET_MANAGER core_nodelet_manager)" />

    <remap from="/sensors/road_marking_localization/camera/infra1/image_rect_raw" to="/sensors/camera/infra1/image_rect_raw" />
    <remap from="/sensors/road_marking_localization/camera/depth/image_rect_raw" to="/sensors/camera/depth/image_rect_raw"/>
    <remap from="/sensors/road_marking_localization/camera/infra1/camera_info" to="/sensors/camera/infra1/camera_info"/>
    <remap from="/sensors/road_marking_localization/camera/depth/camera_info" to="/sensors/camera/depth/camera_info"/>
    <remap from="/sensors/road_marking_localization/initialpose" to="/initialpose"/>
    <remap from="/sensors/road_marking_localization/map" to="/localization/map"/>

    <include file="$(find road_marking_localization)/launch/RoadMarkingLocalization.launch">
        <arg name="use_nodelets"    value="$(arg use_nodelets)" />
        <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
    </include>
</launch>