<launch>
    <arg name="live"            description="Whether to instantiate a live system (true) or a bag-based one (false)" />
    <arg name="tf_prefix"       default="" />
    <arg name="agent_prefix"    default="" />

    <node
          pkg="road_marking_localization"
          name="road_marking_localization"
          exec="road_marking_localization_node"
    >
        <param name="base_link_frame" value="$(var tf_prefix)base_link" />
        <remap from="$(var agent_prefix)/sensors/road_marking_localization/camera/infra1/image_rect_raw" to="$(var agent_prefix)/sensors/camera/infra1/image_rect_raw" />
        <remap from="$(var agent_prefix)/sensors/road_marking_localization/camera/depth/image_rect_raw" to="$(var agent_prefix)/sensors/camera/depth/image_rect_raw"/>
        <remap from="$(var agent_prefix)/sensors/road_marking_localization/camera/infra1/camera_info" to="$(var agent_prefix)/sensors/camera/infra1/camera_info"/>
        <remap from="$(var agent_prefix)/sensors/road_marking_localization/camera/depth/camera_info" to="$(var agent_prefix)/sensors/camera/depth/camera_info"/>
        <remap from="$(var agent_prefix)/sensors/road_marking_localization/initialpose" to="$(var agent_prefix)/initialpose"/>
        <remap from="$(var agent_prefix)/sensors/road_marking_localization/map" to="$(var agent_prefix)/sensors/map"/>

    </node>
</launch>