<launch>
	<arg name="use_nodelets"    default="$(optenv USE_NODELETS true)" />
	<arg name="nodelet_manager" default="$(optenv CORE_NODELET_MANAGER core_nodelet_manager)" />
	<arg name="baudrate" default="$(optenv ROS_RPLIDAR_BAUDRATE 115200)" />

	<remap from="/sensors/scan" to="/sensors/rplidar/scan"/>
	<node name="rplidar"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/ttyLidar"/>
		<param name="serial_baudrate"     type="int"    value="$(arg baudrate)"/>
		<param name="frame_id"            type="string" value="laser"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
	</node>

	<!--
	<include file="$(find lidar_pose_estimation)/launch/LidarPoseEstimation.launch">
		<arg name="use_nodelets"    value="$(arg use_nodelets)" />
		<arg name="nodelet_manager" value="$(arg nodelet_manager)" />
	</include>
	-->
</launch>
