<launch>
	<arg name="live"            description="Whether to instantiate a live system (true) or a bag-based one (false)" />
	<arg name="tf_prefix" default="" />
	<arg name="agent_prefix" default="" />

	<!-- Intel Realsense D435 -->
	<include file="$(find-pkg-share autominy)/launch/sensors/D435.launch">
		<arg name="live"            value="$(var live)" />
		<arg name="tf_prefix"       value="$(var tf_prefix)" />
		<arg name="agent_prefix"    value="$(var agent_prefix)" />
	</include>

	<!-- RPLidar -->
	<include if="$(var live)" file="$(find-pkg-share autominy)/launch/sensors/RPLidar.launch">
	</include>

	<!-- BNO055 -->
	<include if="$(var live)" file="$(find-pkg-share autominy)/launch/sensors/BNO055.launch">
	</include>

	<!-- Hardware communication -->
    <include if="$(var live)" file="$(find-pkg-share autominy)/launch/sensors/Arduino.launch">
    </include>

    <include file="$(find-pkg-share autominy)/launch/sensors/HardwareCalibration.launch">
        <arg name="agent_prefix"    value="$(var agent_prefix)" />
    </include>

	<!-- Odometry -->
	<include file="$(find-pkg-share autominy)/launch/sensors/Odometry.launch">
		<arg name="live"            value="$(var live)" />
		<arg name="agent_prefix"       value="$(var agent_prefix)" />
		<arg name="tf_prefix"       value="$(var tf_prefix)" />
	</include>

	<!-- Road marking localization -->
	<include file="$(find-pkg-share autominy)/launch/sensors/RoadMarkingLocalization.launch">
		<arg name="live"            value="$(var live)" />
        <arg name="agent_prefix"    value="$(var agent_prefix)" />
        <arg name="tf_prefix"       value="$(var tf_prefix)" />
	</include>

	<!-- PointCloud -->
	<include file="$(find-pkg-share autominy)/launch/sensors/PointCloud.launch">
		<arg name="live"            value="$(var live)" />
	</include>

	<!-- Localization -->
	<include file="$(find-pkg-share autominy)/launch/sensors/Localization.launch">
		<arg name="live"            value="$(var live)" />
		<arg name="tf_prefix" value="$(var tf_prefix)" />
		<arg name="agent_prefix" value="$(var agent_prefix)" />
	</include>

	<!-- Map -->
	<include file="$(find-pkg-share autominy)/launch/sensors/Map.launch">
		<arg name="live"            value="$(var live)" />
		<arg name="tf_prefix"       value="$(var tf_prefix)" />
	</include>
</launch>
