<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name=viewport content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>Remote Control</title>
<style>

body {
	padding: 0px;
	margin: 0px;
}

#image-canvas {
    position: fixed;
    left: 0;
    top: 0;
}

#speed-canvas {
	position: fixed;
	right: 5%;
	bottom: 2.5%;
}

#steering-canvas {
	position: fixed;
	left: 5%;
	bottom: 2.5%;
}

#container {
	position: fixed;
	left: 0;
	top: 0;
	overflow: auto;
	z-index: 1;
}

</style>
</head>

<body>

<script language="javascript" type="text/javascript" src="httpcommunicatorconfig.js"></script>
<script language="javascript" type="text/javascript" src="httpcommunicator.js"></script>

<canvas id="image-canvas"></canvas>
<div id="container">
	<div style="position: fixed; top: 5%; left: 5%; text-align: center;" id="steering">
		<p id="steering"></p>
	</div>
	<div style="position: fixed; top: 5%; right: 5%; text-align: center;" id="speed"> 
		<p id="speed"></p>
	</div>
	<canvas id="steering-canvas" width=100 height=100></canvas>
	<canvas id="speed-canvas" width=100 height=100></canvas>
</div>

</body>

</html>
