<?xml version="1.0" ?>
<launch>
    <![CDATA[
    <!--
          FOR DEBUGGING: add to node tag: launch-prefix="gnome-terminal -x gdb --args"
    -->
    ]]>

    <!-- start standalone node -->
    <node
          pkg="low_voltage_shutdown"
          name="low_voltage_shutdown"
          exec="low_voltage_shutdown_node"
    >
    </node>

</launch>
