controller_manager:
    ros__parameters:
        update_rate: 100  # Hz
        use_sim_time: true

        joint_state_broadcaster:
            type: joint_state_broadcaster/JointStateBroadcaster

        sim_car_controller:
            type: autominy_sim_control/AutominySimController

sim_car_controller:
    ros__parameters:
        type: autominy_sim_control/AutominySimController
        drive_rear_left_joint: rearwheel_left
        drive_rear_right_joint: rearwheel_right
        drive_front_left_joint: frontwheel_left
        drive_front_right_joint: frontwheel_right
        steer_left_joint: frontwheel_steering_left
        steer_right_joint: frontwheel_steering_right
        axel_distance: 0.26
        wheel_distance: 0.165
        wheel_diameter: 0.063
        steering_topic: /actuators/steering_pwm
        steering_fb_topic: /sensors/arduino/steering_angle
        speed_topic: /actuators/speed_pwm
        ticks_topic: /sensors/arduino/ticks
        voltage_topic: /sensors/arduino/voltage
        zero_steer_angle: 0.0