#model_car:
  # Publish all joint states -----------------------------------
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 50  

  car_cont:
    type: effort_controllers/AutominySimController
    drive_rear_left_joint: rearwheel_left
    drive_rear_right_joint: rearwheel_right
    drive_front_left_joint: frontwheel_left
    drive_front_right_joint: frontwheel_right
    steer_left_joint: frontwheel_steering_left
    steer_right_joint: frontwheel_steering_right
    axel_distance: 0.26
    wheel_distance: 0.165
    wheel_diameter: 0.063
    steering_topic: /actuators/steering_pwm
    steering_fb_topic: /sensors/arduino/steering_angle
    speed_topic: /actuators/speed_pwm
    ticks_topic: /sensors/arduino/ticks 
    voltage_topic: /sensors/arduino/voltage
    zero_steer_angle: 0.0
    
    gains:
      frontwheel_left:
        p: 0.1
        d: 0.0
        i: 100.0
        i_clamp: 1
      frontwheel_right:
        p: 0.1
        d: 0.0
        i: 100.0
        i_clamp: 1
      rearwheel_left:
        p: 0.1
        d: 0.0
        i: 100.0
        i_clamp: 1
      rearwheel_right:
        p: 0.1
        d: 0.0
        i: 100.0
        i_clamp: 1
      frontwheel_steering_left:
        p: 1.0
        d: 0.0
        i: 0.1
        i_clamp: 1
      frontwheel_steering_right:
        p: 1.0
        d: 0.0
        i: 0.1
        i_clamp: 1

