<launch>
  <!-- args = list of led id -->
  <node pkg="fake_gps" type="fake_gps_2d_node" name="fake_gps_2d" args="0 1 2">
    <param name="map_file" value="$(find fake_gps)/config/FEATURE_FILES/map.txt" />
    <param name="camera_file" value="$(find fake_gps)/config/FEATURE_FILES/camera.txt" />
    <param name="start_frame" value="/world" />
    <param name="end_frame" value="/camera"/>
  </node>
</launch>
