<?xml version="1.0" ?>
<launch>
    <![CDATA[
    <!--
          FOR DEBUGGING: add to node tag: launch-prefix="gnome-terminal -x gdb --args"
    -->
    ]]>

    <arg name="max_speed" default="0.3"/>
    <arg name="max_steering" default="1.0"/>

    <!-- start standalone node -->
    <node
          pkg="remote_control"
          name="remote_control"
          exec="remote_control_node"
          output="screen"
    >
        <remap from="speed" to="/actuators/speed_normalized" />
        <remap from="steering" to="/actuators/steering_normalized" />
        <param name="max_speed" value="$(var max_speed)" />
        <param name="max_steering" value="$(var max_steering)" />
    </node>
</launch>
