<?xml version="1.0" ?>
<launch>
    <![CDATA[
    <!--
          FOR DEBUGGING: add to node tag: launch-prefix="gnome-terminal -x gdb --args"
    -->
    ]]>

    <remap from="speed" to="/actuators/speed_normalized" />
    <remap from="steering" to="/actuators/steering_normalized" />
    <!-- start standalone node -->
    <node
          pkg="remote_control"
          name="remote_control"
          exec="remote_control_node"
          output="screen"
    >
    </node>
</launch>
