
<launch>
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" required="true" output="screen">
		<param name="video_device" value="/dev/video2" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap" />
		<param name="autoexposure" value="false" />
        <param name="exposure" value="8"/>
        />
	</node>
<!-- 	<node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node> -->

	<node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam" required="true" output="screen">
	
	</node>

	<!-- <node name="colorgui" pkg="cmvision" type="colorgui" respawn="true" output="screen"> 
		<remap from="image" to="/usb_cam/image_raw" />
 	</node>  -->
	<node name="cmvision" pkg="cmvision" type="cmvision" output="screen" required="true">
		<remap from="image" to="usb_cam/image_rect_color" />
		<param name="color_file" value="$(find detect_roof_rectangles)/colors.txt" />
		<param name="mean_shift_on" value="true" />
		<param name="color_radius_pix" value="0" />
		<param name="spatial_radius_pix" value="0" />
		<param name="debug_on" value="false" />
	</node>
	<node pkg="detect_roof_rectangles" type="detect" name="detect" output="screen" />
</launch>

