<!-- Launch file to start the full system in a vehicle. -->
<launch>
	<!-- nodelet -->
	<arg name="use_nodelets"    default="$(optenv USE_NODELETS true)" />
	<arg name="nodelet_manager" default="$(optenv NODELET_MANAGER core_nodelet_manager)" />
	<arg name="logfile" />

	<!-- start recorder -->
	<param name="use_sim_time" value="true" />

	<!-- launch core components that should always run -->
	<node name="play" pkg="rosbag" type="play" args="--clock --loop $(arg logfile)" />

	<!-- launch core components that should always run -->
	<include file="$(find autominy)/launch/Core.launch">
		<arg name="live"            value="false" />
		<arg name="use_nodelets"    value="$(arg use_nodelets)" />
		<arg name="nodelet_manager" value="$(arg nodelet_manager)" />
	</include>
</launch>
