<!-- Launch file to start the full system in a vehicle. -->
<launch>
	<!-- nodelet -->
	<arg name="use_nodelets"    default="$(optenv USE_NODELETS true)" />
	<arg name="nodelet_manager" default="$(optenv NODELET_MANAGER core_nodelet_manager)" />
	<param name="use_sim_time" value="true" />

	<group ns="agent1">
	    <arg name="tf_prefix" value="agent_1" />
	    <arg name="agent_prefix" value="/agent1" />
        <include file="$(find autominy)/launch/Core.launch">
            <arg name="live"            value="false" />
            <arg name="use_nodelets"    value="$(arg use_nodelets)" />
            <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
            <arg name="tf_prefix" value="$(arg tf_prefix)" />
            <arg name="agent_prefix" value="$(arg agent_prefix)" />
        </include>

        <!-- launch simulation -->
        <include file="$(find autominy_sim)/launch/SimulatedVehicle.launch">
            <arg name="name" value="model_car" />
            <arg name="agent_prefix" value="$(arg agent_prefix)" />
            <arg name="tf_prefix" value="$(arg tf_prefix)" />
        </include>
	</group>

    <group ns="agent2">
        <arg name="tf_prefix" value="agent_2" />
        <arg name="agent_prefix" value="/agent2" />
        <include file="$(find autominy)/launch/Core.launch">
            <arg name="live"            value="false" />
            <arg name="use_nodelets"    value="$(arg use_nodelets)" />
            <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
            <arg name="tf_prefix" value="$(arg tf_prefix)" />
            <arg name="agent_prefix" value="$(arg agent_prefix)" />
        </include>

        <!-- launch simulation -->
        <include file="$(find autominy_sim)/launch/SimulatedVehicle.launch">
            <arg name="name" value="model_car" />
            <arg name="agent_prefix" value="$(arg agent_prefix)" />
            <arg name="tf_prefix" value="$(arg tf_prefix)" />
            <arg name="x" value="5.2" />
            <arg name="y" value="0.2" />
            <arg name="yaw" value="1.51" />
        </include>
    </group>

    <group ns="agent3">
        <arg name="tf_prefix" value="agent_3" />
        <arg name="agent_prefix" value="/agent3" />
        <include file="$(find autominy)/launch/Core.launch">
            <arg name="live"            value="false" />
            <arg name="use_nodelets"    value="$(arg use_nodelets)" />
            <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
            <arg name="tf_prefix" value="$(arg tf_prefix)" />
            <arg name="agent_prefix" value="$(arg agent_prefix)" />
        </include>

        <!-- launch simulation -->
        <include file="$(find autominy_sim)/launch/SimulatedVehicle.launch">
            <arg name="name" value="model_car" />
            <arg name="agent_prefix" value="$(arg agent_prefix)" />
            <arg name="tf_prefix" value="$(arg tf_prefix)" />
            <arg name="x" value="5.8" />
            <arg name="y" value="4.0" />
            <arg name="yaw" value="-1.51" />
        </include>
    </group>


</launch>
