<!-- Launch file to start the full system in a vehicle. -->
<launch>
	<set_parameter name="use_sim_time" value="true" />

	<group>
        <push_ros_namespace namespace="agent1"/>
	    <arg name="tf_prefix" value="agent_1" />
	    <arg name="agent_prefix" value="/agent1" />
        <include file="$(find-pkg-share autominy)/launch/Core.launch">
            <arg name="live"            value="false" />
            <arg name="tf_prefix" value="$(var tf_prefix)" />
            <arg name="agent_prefix" value="$(var agent_prefix)" />
        </include>

        <!-- launch simulation -->
        <include file="$(find-pkg-share autominy_sim)/launch/SimulatedVehicle.launch">
            <arg name="name" value="model_car" />
            <arg name="agent_prefix" value="$(var agent_prefix)" />
            <arg name="tf_prefix" value="$(var tf_prefix)" />
        </include>
	</group>

    <group>
        <push_ros_namespace namespace="agent2"/>
        <arg name="tf_prefix" value="agent_2" />
        <arg name="agent_prefix" value="/agent2" />
        <include file="$(find-pkg-share autominy)/launch/Core.launch">
            <arg name="live"            value="false" />
            <arg name="tf_prefix" value="$(var tf_prefix)" />
            <arg name="agent_prefix" value="$(var agent_prefix)" />
        </include>

        <!-- launch simulation -->
        <include file="$(find-pkg-share autominy_sim)/launch/SimulatedVehicle.launch">
            <arg name="name" value="model_car" />
            <arg name="agent_prefix" value="$(var agent_prefix)" />
            <arg name="tf_prefix" value="$(var tf_prefix)" />
            <arg name="x" value="5.2" />
            <arg name="y" value="0.2" />
            <arg name="yaw" value="1.51" />
        </include>
    </group>

    <group>
        <push_ros_namespace namespace="agent3"/>
        <arg name="tf_prefix" value="agent_3" />
        <arg name="agent_prefix" value="/agent3" />
        <include file="$(find-pkg-share autominy)/launch/Core.launch">
            <arg name="live"            value="false" />
            <arg name="tf_prefix" value="$(var tf_prefix)" />
            <arg name="agent_prefix" value="$(var agent_prefix)" />
        </include>

        <!-- launch simulation -->
        <include file="$(find-pkg-share autominy_sim)/launch/SimulatedVehicle.launch">
            <arg name="name" value="model_car" />
            <arg name="agent_prefix" value="$(var agent_prefix)" />
            <arg name="tf_prefix" value="$(var tf_prefix)" />
            <arg name="x" value="5.8" />
            <arg name="y" value="4.0" />
            <arg name="yaw" value="-1.51" />
        </include>
    </group>


</launch>
