<?xml version="1.0" ?>
<launch>
    <![CDATA[
    <!--
          FOR DEBUGGING: add to node tag: launch-prefix="gnome-terminal -x gdb --args"
    -->
    ]]>

    <!-- start standalone node -->
    <node
          pkg="road_marking_localization"
          name="road_marking_localization"
          exec="road_marking_localization_node"
    >
    </node>

</launch>
