<launch>
    <arg name="live"            doc="Whether to instantiate a live system (true) or a bag-based one (false)" />
    <arg name="use_nodelets"    default="$(optenv USE_NODELETS true)" />
    <arg name="nodelet_manager" default="$(optenv AUTONOMICS_NODELET_MANAGER core_nodelet_manager)" />

    <!-- Relay into communication ns -->
    <include file="$(find autominy)/launch/communication/Relay.launch">
        <arg name="live"            value="$(arg live)" />
        <arg name="use_nodelets"    value="$(arg use_nodelets)" />
        <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
    </include>

    <!-- Multimaster communication -->
    <include file="$(find autominy)/launch/communication/Multimaster.launch">
        <arg name="live"            value="$(arg live)" />
        <arg name="use_nodelets"    value="$(arg use_nodelets)" />
        <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
    </include>

</launch>
