<launch>
  <node pkg="control" type="control_node" name="control_node" output="screen">
    <param name="steering_Kp" value="1.5" />
    <param name="steering_Kd" value="0.0" />
    <param name="steering_Ki" value="0.0" />
    <param name="speed_Kp" value="20" />
    <param name="maximum_rpm" value="800" />
    <param name="minimum_rpm" value="20" />
    <param name="maximum_steering" value="80" />
    <param name="minimum_steering" value="-80" />
  </node>
</launch>
