<launch>
  <!-- args = list of led id -->
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" required="true" output="screen">
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap" />
		<param name="autoexposure" value="false" />
        	<param name="exposure" value="1"/>
	</node>

	<node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam" required="true">
	
	</node>
	<node name="cmvision" pkg="cmvision" type="cmvision" output="screen" required="true">
		<remap from="image" to="usb_cam/image_rect_color" />
		<param name="color_file" value="$(find detect_roof_rectangles)/colors.txt" />
		<param name="mean_shift_on" value="true" />
		<param name="color_radius_pix" value="0" />
		<param name="spatial_radius_pix" value="0" />
		<param name="debug_on" value="false" />
	</node>
	<node pkg="detect_roof_rectangles" type="detect" name="detect"/>

  <node pkg="visual_gps" type="visual_gps_2d_node" name="visual_gps_2d" args="0 1 2 3">
    <param name="map_file" value="$(find visual_gps)/config/FEATURE_FILES/map.txt" />
    <param name="camera_file" value="$(find visual_gps)/config/FEATURE_FILES/camera.txt" />
    <param name="start_frame" value="/world" />
    <param name="end_frame" value="/camera"/>
  </node>
    <node pkg="tf" type="static_transform_publisher" name="ftsensor_FRAME" args="0 0 0 0 0 0 /world /Features_markers 500" />
    <include file="$(find manual_control)/launch/manual_odroid.launch"/>


</launch>
