<launch>
	<arg name="live"            doc="Whether to instantiate a live system (true) or a bag-based one (false)" />
	<arg name="use_nodelets"    default="$(optenv USE_NODELETS false)" />
	<arg name="nodelet_manager" default="$(optenv CORE_NODELET_MANAGER core_nodelet_manager)" />

	<include if="$(arg live)" file="$(find autominy)/launch/components/sensors/Arduino.launch">
		<arg name="use_nodelets"    value="$(arg use_nodelets)" />
		<arg name="nodelet_manager" value="$(arg nodelet_manager)" />
	</include>

	<include file="$(find autominy)/launch/components/sensors/HardwareCalibration.launch">
		<arg name="use_nodelets"    value="$(arg use_nodelets)" />
		<arg name="nodelet_manager" value="$(arg nodelet_manager)" />
	</include>

	<remap from="/sensors/odometry/carstate/steering" to="/carstate/steering"/>
	<remap from="/sensors/odometry/speed" to="/carstate/speed"/>
	<remap from="/sensors/odometry/imu" to="/sensors/arduino/imu"/>
	<include file="$(find odometry)/launch/odometry.launch">
	</include>
</launch>
