<?xml version="1.0"?>
<robot name="lab">
  <link name="base_link">
    <visual>
      <geometry>
         <mesh filename="package://world_description/model/world.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
         <mesh filename="package://world_description/model/world.dae"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>
    <gazebo>
      <static>1</static>
    </gazebo>
  <gazebo reference="base_link">
    <mu1>1.34</mu1>
    <mu2>1.34</mu2>    
  </gazebo>
</robot>
