<launch>
  <arg name="camera_type"  value="SR300" />
  <arg name="depth_width"  value="640" />
  <arg name="depth_height" value="480" />
  <group ns="app">
    <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch">
      <arg name="camera_type"  value="$(arg camera_type)" />
      <arg name="depth_width"  value="$(arg depth_width)" />
      <arg name="depth_height" value="$(arg depth_height)" />
    </include>
  </group>
</launch>
