<launch>
	<arg name="live"            doc="Whether to instantiate a live system (true) or a bag-based one (false)" />
	<arg name="use_nodelets"    default="$(optenv USE_NODELETS false)" />
	<arg name="nodelet_manager" default="$(optenv CORE_NODELET_MANAGER core_nodelet_manager)" />

	<remap from="/sensors/auto_stop/speed" to="/sensors/arduino/speed" />
	<remap from="/sensors/auto_stop/twist" to="/sensors/arduino/twist" />
	<remap from="/sensors/auto_stop/scan" to="/sensors/rplidar/scan" />
	<!-- Arduino communication -->
	<include file="$(find auto_stop)/launch/auto_stop.launch">
	</include>
</launch>
