<launch>
	<arg name="live"            doc="Whether to instantiate a live system (true) or a bag-based one (false)" />
	<arg name="use_nodelets"    default="$(optenv USE_NODELETS true)" />
	<arg name="nodelet_manager" default="$(optenv SENSOR_NODELET_MANAGER sensor_nodelet_manager)" />

	<!-- Intel Realsense D435 -->
	<include file="$(find autominy)/launch/components/sensors/D435.launch">
		<arg name="live"            value="$(arg live)" />
		<arg name="use_nodelets"    value="$(arg use_nodelets)" />
		<arg name="nodelet_manager" value="$(arg nodelet_manager)" />
	</include>

	<!-- RPLidar -->
	<include if="$(arg live)" file="$(find autominy)/launch/components/sensors/RPLidar.launch">
		<arg name="use_nodelets"    value="$(arg use_nodelets)" />
		<arg name="nodelet_manager" value="$(arg nodelet_manager)" />
	</include>

	<!-- Hardware communication -->
	<include file="$(find autominy)/launch/components/sensors/HardwareCommunication.launch">
		<arg name="live"            value="$(arg live)" />
		<arg name="use_nodelets"    value="$(arg use_nodelets)" />
		<arg name="nodelet_manager" value="/$(arg nodelet_manager)" />
	</include>

	<!-- Odometry -->
	<include file="$(find autominy)/launch/components/sensors/Odometry.launch">
		<arg name="live"            value="$(arg live)" />
		<arg name="use_nodelets"    value="$(arg use_nodelets)" />
		<arg name="nodelet_manager" value="/$(arg nodelet_manager)" />
	</include>

	<!-- Road marking localization -->
	<include file="$(find autominy)/launch/components/sensors/RoadMarkingLocalization.launch">
		<arg name="live"            value="$(arg live)" />
		<arg name="use_nodelets"    value="$(arg use_nodelets)" />
		<arg name="nodelet_manager" value="/$(arg nodelet_manager)" />
	</include>

</launch>
