<launch>
	<arg name="live"            doc="Whether to instantiate a live system (true) or a bag-based one (false)" />
	<arg name="use_nodelets"    default="$(optenv USE_NODELETS false)" />
	<arg name="nodelet_manager" default="$(optenv CORE_NODELET_MANAGER core_nodelet_manager)" />

	<remap from="/autonomy/emergency_stop/speed" to="/sensors/arduino/speed" />
	<remap from="/autonomy/emergency_stop/carstate/speed" to="/carstate/speed" />
	<remap from="/autonomy/emergency_stop/scan" to="/sensors/rplidar/scan" />

	<include file="$(find emergency_stop)/launch/EmergencyStop.launch">

	</include>
</launch>
