<!-- -->
<launch>
  <arg name="name" default="model_car"/>
  <arg name="model" default="car"/>
  <arg name="tf_prefix" default=""/>
  <arg name="agent_prefix" default=""/>

  <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher_$(var name)">
    <param name="publish_frequency" value="50.0"/>
    <remap from="joint_states" to="$(var name)/joint_states" />

    <param name="robot_description"
         value="$(command 'xacro \'$(find-pkg-share car_description)/urdf/$(var model).xacro\' tf_prefix:=$(var tf_prefix) car_name:=$(var tf_prefix)model_car agent_prefix:=$(var agent_prefix)')" />
  </node>

  <node name="joint_state_publisher"
        pkg ="joint_state_publisher"
        exec="joint_state_publisher">
    <remap from="joint_states"
           to="$(var name)/joint_states" />
  </node>

</launch>
