<!-- -->
<launch>
  <arg name="name" default="model_car"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <node name="$(anon fls)" pkg="dynamic_reconfigure" type="dynparam" args="load /model_car/car_cont/gains/frontwheel_steering_left $(find sim_car_controller)/config/frontwheel_steering_left.yaml"/>
  <node name="$(anon frs)" pkg="dynamic_reconfigure" type="dynparam" args="load /model_car/car_cont/gains/frontwheel_steering_right $(find sim_car_controller)/config/frontwheel_steering_right.yaml"/>
  <node name="$(anon fl)" pkg="dynamic_reconfigure" type="dynparam" args="load /model_car/car_cont/gains/frontwheel_left $(find sim_car_controller)/config/frontwheel_left.yaml"/>
  <node name="$(anon fr)" pkg="dynamic_reconfigure" type="dynparam" args="load /model_car/car_cont/gains/frontwheel_right $(find sim_car_controller)/config/frontwheel_right.yaml"/>
  <node name="$(anon rl)" pkg="dynamic_reconfigure" type="dynparam" args="load /model_car/car_cont/gains/rearwheel_left $(find sim_car_controller)/config/rearwheel_left.yaml"/>
  <node name="$(anon rr)" pkg="dynamic_reconfigure" type="dynparam" args="load /model_car/car_cont/gains/rearwheel_right $(find sim_car_controller)/config/rearwheel_right.yaml"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        ns="model_car"
        args="joint_state_controller car_cont"/>

</launch>

