<?xml version="1.0" ?>
<launch>
    <arg name="use_nodelets" default="$(optenv USE_NODELETS false)"/>
    <arg name="nodelet_manager" default="$(optenv TICK_CALIBRATION_NODELET_MANAGER tick_calibration_nodelet_manager)"/>

    <![CDATA[
    <!--
          FOR DEBUGGING: add to node tag: launch-prefix="gnome-terminal -x gdb --args"
          additionally add <param name="/bond_disable_heartbeat_timeout" value="true" /> to debug nodelets
    -->
    ]]>

    <!-- start standalone node -->
    <node respawn="true" unless="$(arg use_nodelets)"
          pkg="tick_calibration"
          name="tick_calibration"
          type="tick_calibration_node"
    >
    </node>

    <!-- start nodelet (nodelet manager needed, see below) -->
    <node respawn="true" if="$(arg use_nodelets)"
          pkg="nodelet"
          type="nodelet"
          name="tick_calibration"
          args="load tick_calibration/Nodelet $(arg nodelet_manager)"
    >
    </node>
</launch>
