<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="sensor_rplidar_a2"
                 params="prefix parent tf_prefix prefix_topic:='front_laser' *origin min_angle:=-3.14159 max_angle:=3.14159">

        <joint name="${tf_prefix}${prefix}_base_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${tf_prefix}${prefix}_base_link"/>
        </joint>


        <link name="${tf_prefix}${prefix}_base_link">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://car_description/meshes/laser.dae"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://car_description/meshes/laser.dae"/>
                </geometry>
                <material name="Black"/>
            </visual>

            <inertial>
                <mass value="1e-5"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
            </inertial>
        </link>

        <joint name="${tf_prefix}${prefix}_laser_joint" type="fixed">
            <origin xyz="0 0 0.03086" rpy="0 0 3.1415"/>
            <parent link="${tf_prefix}${prefix}_base_link"/>
            <child link="${tf_prefix}laser"/>
        </joint>


        <link name="${tf_prefix}laser">
        </link>
    </xacro:macro>
</robot>