<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="model_car">

    <!-- Included URDF Files -->
    <xacro:include filename="$(find car_robot_model)/urdf/include/rplidar_a2.xacro"/>
    <xacro:include filename="$(find car_robot_model)/urdf/include/_d435.urdf.xacro"/>

    <xacro:property name="PI" value="3.1415926535897931"/>

    <link name="sensor_board">
        <inertial>
            <mass value="6"/>
            <origin xyz="0.12043628 0.00000000 0.00171950" rpy="0 0 0"/>
            <inertia ixx="0.0123739" ixy="0.0" ixz="0.0003463"
                     iyy="0.0711051" iyz="0.0"
                     izz="0.0820107"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://car_robot_model/meshes/sensor_board.stl"/>
            </geometry>
            <material name="Grey"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://car_robot_model/meshes/sensor_board.stl"/>
            </geometry>
        </collision>
    </link>

    <joint name="joint_base_link_to_sensor_board" type="fixed">
        <parent link="base_link"/>
        <child link="sensor_board"/>
        <origin xyz="0 0 0.07" rpy="0 0 0"/>
    </joint>

    <link name="camera_board">
        <inertial>
            <mass value="0.6000000"/>
            <origin xyz="0.04901990 0.00000000 0.00000000" rpy="0 0 0"/>
            <inertia ixx="0.0003816" ixy="0.0" ixz="0.0"
                     iyy="0.0003420" iyz="0.0"
                     izz="0.0007211"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://car_robot_model/meshes/camera_board.stl"/>
            </geometry>
            <material name="Grey"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://car_robot_model/meshes/camera_board.stl"/>
            </geometry>
        </collision>
    </link>

    <joint name="joint_sensor_board_to_camera_board" type="fixed">
        <parent link="sensor_board"/>
        <child link="camera_board"/>
        <origin xyz="-0.07 0 0.15" rpy="0 0 0"/>
    </joint>

    <!--*************************************************-->
    <!--*               Sensors                         *-->
    <!--*************************************************-->

    <!-- IMU -->
    <link name="imu">
        <inertial>
            <mass value="0.0200000"/>
            <origin xyz="0.00000000 0.00000000 0.00150000" rpy="0 0 0"/>
            <inertia ixx="0.0000007" ixy="0.0" ixz="0.0"
                     iyy="0.0000004" iyz="0.0"
                     izz="0.0000011"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://car_robot_model/meshes/IMU.stl"/>
            </geometry>
            <material name="Black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://car_robot_model/meshes/IMU.stl"/>
            </geometry>
        </collision>
    </link>

    <joint name="joint_sensor_board_to_imu" type="fixed">
        <parent link="sensor_board"/>
        <child link="imu"/>
        <origin xyz="0.035 -0.035 0.0025" rpy="0 0 ${PI/2}"/>
    </joint>

    <!-- Odroid -->
    <link name="odroid">
        <inertial>
            <mass value="0.2000000"/>
            <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 0"/>
            <inertia ixx="0.00000000" ixy="0.0" ixz="0.0"
                     iyy="0.00000000" iyz="0.0"
                     izz="0.00000000"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0.01" rpy="0 0 0"/>
            <geometry>
                <box size="0.06 0.08 0.015"/>
            </geometry>
            <material name="Black"/>
        </visual>
    </link>

    <joint name="joint_sensor_board_to_odroid" type="fixed">
        <parent link="sensor_board"/>
        <child link="odroid"/>
        <origin xyz="-0.04 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Aruco Marker -->
    <link name="marker">
        <inertial>
            <mass value="0.2000000"/>
            <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 0"/>
            <inertia ixx="0.00000000" ixy="0.0" ixz="0.0"
                     iyy="0.00000000" iyz="0.0"
                     izz="0.00000000"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0.003" rpy="0 0 0"/>
            <geometry>
                <box size="0.12 0.12 0.002"/>
            </geometry>
            <material name="White"/>
        </visual>
        <visual>
            <origin xyz="0.0 0.0 0.004" rpy="0 0 0"/>
            <geometry>
                <box size="0.09 0.09 0.002"/>
            </geometry>
            <material name="Black"/>
        </visual>

        <visual>
            <origin xyz="0.0225 0.0225 0.005" rpy="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.002"/>
            </geometry>
            <material name="White"/>
        </visual>

        <visual>
            <origin xyz="0.0225 0.0075 0.005" rpy="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.002"/>
            </geometry>
            <material name="White"/>
        </visual>

        <visual>
            <origin xyz="0.0225 -0.0075 0.005" rpy="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.002"/>
            </geometry>
            <material name="White"/>
        </visual>

        <visual>
            <origin xyz="0.0075 0.0225 0.005" rpy="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.002"/>
            </geometry>
            <material name="White"/>
        </visual>

        <visual>
            <origin xyz="0.0075 -0.0075 0.005" rpy="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.002"/>
            </geometry>
            <material name="White"/>
        </visual>

        <visual>
            <origin xyz="0.0075 -0.0225 0.005" rpy="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.002"/>
            </geometry>
            <material name="White"/>
        </visual>

        <visual>
            <origin xyz="-0.0075 0.0075 0.005" rpy="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.002"/>
            </geometry>
            <material name="White"/>
        </visual>
 
        <visual>
            <origin xyz="-0.0225 0.0225 0.005" rpy="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.002"/>
            </geometry>
            <material name="White"/>
        </visual>
    </link>

    <joint name="joint_camera_board_to_marker" type="fixed">
        <parent link="camera_board"/>
        <child link="marker"/>
        <origin xyz="0.01 0 0" rpy="0 0 0"/>
    </joint>


    <sensor_rplidar_a2 parent="sensor_board" prefix="lidar">
        <origin xyz="0.21 0 0" rpy="0 0 0"/>
    </sensor_rplidar_a2>


    <!-- front camera -->
    <xacro:property name="front_camera_name" value="camera"/>

    <sensor_d435 parent="camera_board">
        <origin xyz="0.087 0 0.04" rpy="0 0.15 0"/>
    </sensor_d435>

</robot>
